.contenedor {
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    border: 10px solid #ccc;
    box-sizing: border-box;
    text-align: center;
}
img{
    max-width: 100%;
    height: auto;
    align-content: center;
}
h1,p {
    text-align: center;
}